<div class="search_form">
  <%= form_with url: search_posts_path, local: true, method: :get do |f| %>
    <%= f.text_field :search %>
    <%= f.submit "検索", class: "btn btn-dark" %>
  <% end %>
</div>
<%= render 'index', posts: @posts %>