<h2><%= @family_name %> <%= @first_name %> さま</h2>

<p>この度は、Cutrimへの会員登録ありがとうございました。</p>

<p>
  ぜひ、お気に入りのカットスタイルを探していただき、<br>
  <%= @family_name %> <%= @first_name %> さまの愛犬が<br>
  より可愛くなりますように❤︎
</p>

<p>Cutrim</p>
