<div class="row mt-4">
  <div class="col-3">
    <div class="about-left-image"></div>
  </div>
  <div class="col-6">
    <h1 class="text-center">ABOUT</h1>
    <h3 class="text-center">Cutrimについて</h3>

    <h5 class="text-center">🐾point1</h5>
    <p class="text-center">
      全国のトリミングサロンから<br>
      お好みのカットスタイルを探せる！
    </p>
    <h5 class="text-center">🐾point2</h5>
    <p class="text-center">
      お近くのトリミングサロンを探すことができ、<br>
      予約も可能！
    </p>
    <h5 class="text-center">🐾point3</h5>
    <p class="text-center">
      予約時に前もって要望を伝えることが可能。<br>
      さらに、ご希望のカットスタイルの写真を<br>
      送っておくこともできます！
    </p>
  </div>
  <div class="col-3">
    <div class="about-right-image"></div>
  </div>
</div>
<div class="row">
  <div class="col-4 offset-5">
    <%= link_to "掲載をご希望のサロン様はこちら>", admin_homes_info_path %>
  </div>
</div>