<div class="row mt-4">
  <div class="col-3">
    <div class="about-left-image"></div>
  </div>
  <div class="col-6">
    <h3 class="text-center">ABOUT</h3>
    <div class="line mb-5">
      <h5 class="text-center mb-5">Cutrimについて</h5>
    </div>
    <div class="fade-in-bottom-1">
      <h5 class="text-center">🐾 point1</h5>
      <p class="text-center">
        全国のトリミングサロンから<br>
        お好みのカットスタイルを探せる！
      </p>
    </div>
    <div class="fade-in-bottom-2">
      <h5 class="text-center">🐾 point2</h5>
      <p class="text-center">
        お近くのトリミングサロンを探すことができ、<br>
        予約も可能！
      </p>
    </div>
    <div class="fade-in-bottom-3">
      <h5 class="text-center">🐾 point3</h5>
      <p class="text-center">
        予約時に前もって要望を伝えることが可能。<br>
        さらに、ご希望のカットスタイルの写真を<br>
        送っておくこともできます！
      </p>
    </div>
  </div>
  <div class="col-3">
    <div class="about-right-image"></div>
  </div>
</div>
<div class="row">
  <div class="col-4 offset-5">
    <%= link_to "掲載をご希望のサロン様はこちら >", admin_homes_info_path, class: "btn btn-dark" %>
  </div>
</div>