<h1>ABOUT</h1>
<h3>Cutrimについて</h3>

<h5>point1</h5>
<p>
  全国のトリミングサロンから<br>
  お好みのカットスタイルを探せる！
</p>
<h5>point2</h5>
<p>
  お近くのトリミングサロンを探すことができ、<br>
  予約も可能！
</p>
<h5>point3</h5>
<p>
  予約時に前もって要望を伝えることが可能。<br>
  さらに、ご希望のカットスタイルの写真を<br>
  送っておくこともできます！
</p>

<%= link_to "掲載をご希望のサロン様はこちら>", admin_homes_info_path %>