<div class="main-image">
  <p>Let's make it cute by trimming❤︎</p>
</div>
<div class="main-about">
  <p>
    Cutrimでは、<br>
    お好みのカットスタイルを探すことができます。<br>
    さらに、お近くのサロンでのご予約も<br>
    Cutrimから可能です。
  </p>
  <%= link_to "ABOUT US", homes_about_path %>
</div>
<div class="main-salon">
  <p>
    お近くのサロンを探しましょう。
  </p>
  <%= link_to "SALOM" %>
</div>
<div class="main-post">
  <h2>NEW POST</h2>
  <%= link_to "VIEW MORE>" %>
</div>

