<div class="main-image">
  <p>Let's make it cute by trimming❤︎</p>
</div>
<div class="main-about">
  <p>
    Cutrimでは、<br>
    お好みのカットスタイルを探すことができます。<br>
    さらに、お近くのサロンでのご予約も<br>
    Cutrimから可能です。
  </p>
  <%= link_to "ABOUT US", homes_about_path %>
</div>
<div class="main-salon">
  <p>
    お近くのサロンを探しましょう。
  </p>
  <%= link_to "SALON", salon_users_path %>
</div>
<div class="main-post">
  <h2>NEW POST</h2>
  <% @post_images.first(12).each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 100, 100, fallback: "no_image.png",size:'100x100' %>
  <% end %>
  <%= link_to "VIEW MORE>", posts_path %>
</div>

