<h1>掲載をご希望のサロン様</h1>
<h3>Cutrimを使用するメリット</h3>

<h5>無制限で写真・文章を掲載！</h5>
<p>
  掲載する写真の枚数や文章の文字数に制限はありませんので、自由にサロンをPRできます。
</p>
<h5>投稿・予約を一括管理！</h5>
<p>
  Cutrimではお客様から予約を受け付けることができるので、Cutrim上で投稿・予約の一括管理が可能です。
</p>
<%= link_to "Cutrimに登録する" %>
