<div class="row">
  <div class="col-3 offset-9">
    <div class="mt-3 mb-1">
      <%= link_to map_salon_users_path, class: "btn btn-info" do %>
        現在地から検索する<i class="fas fa-search-location"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3 offset-9">
    <div class="mt-3 mb-3">
      <%= form_with url: search_salon_users_path, local: true, method: :get do |f| %>
        <%= f.collection_select :search, JpPrefecture::Prefecture.all, :name, :name %>
        <%= button_tag type: 'submit', class: "btn btn-info" do %>
          検索<i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
