/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 @charset "UTF-8";

 body {
	color: #73646A;
}

 .btn-info {
  background-color: #98D4CC;
  border-color: #98D4CC;
}

 .btn-dark {
  background-color: #73646A;
  border-color: #73646A;
}

 .btn-dark:hover {
  background-color: #5f5358;
  border-color: #5f5358;
}

 .btn-secondary {
  background-color: #CFB1B5;
  border-color: #CFB1B5;
 }

 .btn-secondary {
  background-color: #c19aa0;
  border-color: #c19aa0;
 }

 .text-dark {
  color: #73646A !important;
 }

 .main-image {
  background-image: url(img/various_dogs.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 200px;
 }

header {
 width: 100%;
 height: 120px;
}

.main-about-image {
 background-image: url(img/cut_shihtzu3.jpg);
 width: 600px;
 height: 400px;
 background-position: center;
 background-size: cover;
}

.main-salon-image {
 background-image: url(img/cut_shihtzu.jpg);
 width: 600px;
 height: 400px;
 background-position: center;
 background-size: cover;
}

.about-left-image {
 background-image: url(img/cut_shihtzu2.jpg);
 width: 400px;
 height: 500px;
 background-position: bottom;
 background-size: cover;
}

.about-right-image {
 background-image: url(img/cut.jpg);
 width: 400px;
 height: 500px;
 background-position: center;
 background-size: cover;
}

.new-post {
 display: flex;
 width: 900px;
 height: 450px;
}

.new-post-left {
 width: 300px;
 display: flex;
 flex-wrap: wrap;
}
.new-post-center {
 width: 300px;
 display: flex;
 flex-wrap: wrap;
}
.new-post-right {
 width: 300px;
 display: flex;
 flex-wrap: wrap;
}

footer {
 width: 100%;
 height: 150px;
 line-height: 100px;
}

#back {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

#back img {
  width: 50px;
}