/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 .btn-info {
  background-color: #98D4CC;
  border-color: #98D4CC;
}

 .btn-dark {
  background-color: #73646A;
  border-color: #73646A;
}

 .btn-dark:hover {
  background-color: #5f5358;
  border-color: #5f5358;
}

 .btn-secondary {
  background-color: #CFB1B5;
  border-color: #CFB1B5;
 }
 
 .btn-secondary {
  background-color: #c19aa0;
  border-color: #c19aa0;
 }

 .main-image {
  background-image: url(img/various_dogs.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 200px;
 }
