/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 @charset "UTF-8";

 body {
	color: #73646A;
}

 .btn-info {
  background-color: #98D4CC;
  border-color: #98D4CC;
}

 .btn-dark {
  background-color: #73646A;
  border-color: #73646A;
}

 .btn-dark:hover {
  background-color: #5f5358;
  border-color: #5f5358;
}

 .btn-secondary {
  background-color: #CFB1B5;
  border-color: #CFB1B5;
 }

 .btn-secondary:hover {
  background-color: #c19aa0;
  border-color: #c19aa0;
 }

 .text-dark {
  color: #73646A !important;
 }

 .error-message {
  color: red;
  font-size: 10px;
 }

 .title-background {
  font-size: 20px;
  background-color: #d5c5c3;
  text-align: center;
  line-height: 30px;
 }

 a {
  text-decoration: none;
  color: #73646A;
 }

 a:hover{
  color : #CFB1B5;
 }

 .main-image {
  background-image: url(img/various_dogs.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 200px;
 }

header {
 width: 100%;
 height: 120px;
}

.main-about-image {
 background-image: url(img/cut_shihtzu3.jpg);
 width: 600px;
 height: 400px;
 background-position: center;
 background-size: cover;
}

.main-salon-image {
 background-image: url(img/cut_shihtzu.jpg);
 width: 600px;
 height: 400px;
 background-position: center;
 background-size: cover;
}

.about-left-image {
 background-image: url(img/cut_shihtzu2.jpg);
 width: 400px;
 height: 500px;
 background-position: bottom;
 background-size: cover;
}

.about-right-image {
 background-image: url(img/cut.jpg);
 width: 400px;
 height: 500px;
 background-position: center;
 background-size: cover;
}

.new-post {
 display: flex;
 width: 900px;
 height: 450px;
}

.new-post-left {
 width: 300px;
 display: flex;
 flex-wrap: wrap;
}
.new-post-center {
 width: 300px;
 display: flex;
 flex-wrap: wrap;
}
.new-post-right {
 width: 300px;
 display: flex;
 flex-wrap: wrap;
}

/*下からフェードイン*/
.fade-in-bottom-1 {
   opacity: 0;
   animation-name: fadein-bottom;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
   animation-delay: .1s;
}
@keyframes fadein-bottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
.fade-in-bottom-2 {
   opacity: 0;
   animation-name: fadein-bottom;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
   animation-delay: .5s;
}
@keyframes fadein-bottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
.fade-in-bottom-3 {
   opacity: 0;
   animation-name: fadein-bottom;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
   animation-delay: .9s;
}
@keyframes fadein-bottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.salon-detail {
 width: 100%;
 height: 480px;
 margin-bottom: 30px;
}

.salon-image {
 width: 80%;
 margin: 0 auto;
 padding-top: 20px;
}

.salon-name {
 width: 50%;
 font-size: 40px;
 background-color: #CFB1B5;
 padding-left: 20px;
}

.wrap {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
  margin-bottom: 0px;
}

#tab-menu li {
  list-style-type: none;
  width: 35%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #73646A;
  border: 1px solid #73646A;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #73646A;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #73646A;
}

#tab-contents p {
  color: #73646A;
  line-height: 2.5;
}

table.table-layout {
	table-layout: fixed;;
	width: 100%;
}

table.table-layout,
table.table-layout th,
table.table-layout td {
 border-bottom: solid 1px #73646A;
	border-collapse: collapse;
}

td.table-heading {
	width: 130px;
}

.salon_user_post_image {
 width: 650px;
 display: flex;
 flex-wrap: wrap;
 margin: 0 auto;
}

th.table-top {
	width: 200px;
}

th.table-second {
	width: 400px;
}

footer {
 width: 100%;
 height: 150px;
 line-height: 100px;
}

#back {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

#back img {
  width: 50px;
}